.form-holder {
  padding: 0px 1px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0px; */
}

.form-field {
  flex: 1 1 0; /* grow, shrink, basis */
  min-width: 80px; /* Prevents fields from becoming too small */
}

.form-field.yt_id {
  flex: 0 0 6em;
}

.form-field.years {
  flex: 0 0 5.5em;
}

.form-field.long {
  flex: 1.55 1 0;
}

.form-field.button {
  min-width: 30px;
  max-width: 30px;
}

.form-field.add-button {
  min-width: 90px;
  max-width: 90px;
}

.form-field input,
.form-field button {
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
}
