.footer {
  padding: 0.5em;
  text-align: center;
  background-color: #282c34;
  /* background-color: #474c57; */
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer a:hover,
.footer a:active {
  color: #4caf50;
}
